name: Validate Gradle Wrapper
on: [push, pull_request]

permissions: {}

jobs:
  validation:
    name: Validate Gradle Wrapper
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: gradle/actions/wrapper-validation@v5
