name: Label new issues
on:
  issues:
    types:
      - opened
  pull_request_target:
    types:
      - opened
      - reopened

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions: {}

jobs:
  label_issues:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        with:
          script: |
            const { payload } = context
            const { issue } = payload
            const { repository } = payload
            github.rest.issues.addLabels({
              issue_number: issue.number,
              owner: repository.owner.login,
              repo: repository.name,
              labels: ["status: new"]
            })
